<header class="w3-container w3-text-indigo">
    <button class="w3-button w3-hover-white">
        <h1 class="w3-half w3-text-orange">🐤<strong>Pollito<span class="w3-text-indigo">Informática</span></strong></h1>
    </button>
    <div class="w3-half w3-right">
        <nav class="w3-bar">
            <a class="w3-button w3-bar-item" routerLink="produtos">Produtos</a>
            <a class="w3-button w3-bar-item" href="">Carrinho <i class="fa-solid fa-cart-shopping"></i><span class="quant-carrinho">{{carrinhoService.obterCarrinho().length}}</span></a>
            <a class="w3-button w3-bar-item" href="">Contato</a>
            <a class="w3-button w3-bar-item" href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a class="w3-button w3-bar-item" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="w3-button w3-bar-item" href=""><i class="fa-brands fa-square-twitter"></i></a>
        </nav>
        <form action="">
            <input type="text" class="w3-border w3-round" style="width: 89%;">
            <button class="w3-button w3-round-large"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

    </div>
</header>