<section class="w3-margin">
    <h2 class="cart-title w3-text-indigo">Carrinho</h2>
    <ul>
        <li class="w3-card">
            <img src="https://via.placeholder.com/100" class="w3-bar-item">
            <p class="w3-bar-item">Nome do Produto</p>
            <p class="w3-bar-item">R$ 0,00</p>
            <label class="w3-bar-item">
                Quantidade: 
                <input type="number" class="input" id="" min="1" max="99">
            </label>
            <button class="w3-button w3-indigo w3-hover-orange w3-bar-item w3-right button-remove"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
</section>
<section class="w3-margin">
    <h2 class="cart-total w3-text-indigo">Total: R$ 0,00</h2>
    <button class="w3-button w3-indigo w3-hover-orange w3-round-large">Comprar</button>
</section>